/* Full set of Tangy Enhancements, including all optional extras */
@import url('https://cdn.jsdelivr.net/gh/jpereira99/TangyTheme/theme.css');
@import url('https://cdn.jsdelivr.net/gh/jpereira99/TangyTheme/extras/disable_dvr_recording.css');
